<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.ztcly.andesitedb.modules.mall.entity.mapper.ProductionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.ztcly.andesitedb.modules.mall.entity.ProductionsEntity">
        <id column="id" property="id" />
        <result column="bscprdt_id" property="bscprdtId" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="pic" property="pic" />
        <result column="price" property="price" />
        <result column="unit" property="unit" />
        <result column="isDeleted" property="isDeleted" />
        <result column="addTime" property="addTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bscprdt_id, name, description, pic, price, unit, isDeleted, addTime, updateTime
    </sql>

</mapper>
